# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
build
out

# Environment variables
.env
.env.local
.env.*.local

# Turbo cache
.turbo

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# Test coverage
coverage
.nyc_output

# Prisma
prisma/migrations/dev.db

# TypeScript
*.tsbuildinfo
